@CHARSET "UTF-8";
/* 
	Document   : simpleAutoComplete
	Created on : 14/03/2010, 13:27:12
	Author     : Wellington Ribeiro
	Description:
		Para estilizar o simpleAutoComplete
	Para não ter problema de posicionamento no IE6,
		deve-se setar width e height,
		ou então usar um hack em div.autocomplete
*/

div.autocomplete{
	position: absolute;
	width: 600px;
	background-color: #FEFEFE;
	border: 1px solid #7C7C7C;
	font: 14px Tahoma,Verdana, Arial, Helvetica, sans-serif;
	overflow: auto;
	border: 1px solid #ccc;
	clear: both;
        z-index: 1;
}
div.autocomplete ul{
	padding-left: 0;
	margin: 0;
	list-style: none;
	clear: both;
}
div.autocomplete ul li{
	cursor: pointer;
	color: #303030;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}
div.autocomplete ul li.sel{
	background-color: #B4D5FE;
}